/* Page layout */

* { margin:0;}

.App {
  max-width:100%;
  min-width:25em;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Page title */

.App-header {
  background-image: url("net.jpeg");
  background-size: cover;
  text-align: center;
  padding: 1em 0;
  user-select: none;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.App-header p{
  border: 1px solid rgb(122, 117, 117);
  box-shadow: 0.2em 0em #0e0c0c;
  text-shadow: 0.05em 0.05em #ec2525;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 2em;
  padding: 0.25em;
  margin: 0.25em;
  display: inline;
}
.App-header h1{
  font-size: 2em;
  text-shadow: 0.1em 0.05em #3325ec;
  display: inline;
}

/* Page navigation */

.App-nav {
  background-color:rgb(243, 43, 17);
  height:1.2em;
  color:#F7F5EE;
  text-align:center;
  clear:left;
  user-select: none;
}

.App-nav ul {
  margin:auto;
  padding:0;
  list-style-type: none;
  overflow: hidden;
}
  
.App-nav li { 
  display:inline;
  padding: 0em 2%;
  cursor:pointer;
  user-select: none;
}

.App-nav li:hover:not(.active) { background-color: #3325ec; }

.active { background-color:black; }

/* Page content */

.App-content {
  margin: 1em auto;
  text-align: center;
}

/* Matches/Practises/Players content */

.Players input[type=text] {
  margin: 0em 0em 1em 0em;
}
.Win {color: green}
.Defeat {color: red}
.Draw {color: rgb(53, 52, 52)}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
}

thead {
  text-align: center;
  padding: 0.5em;
  cursor:default;
  background-color: rgb(56, 48, 177);
  color: white;
}

.Matches tbody tr, .Practises tbody tr {
  vertical-align:top;
  cursor:cell;
  user-select: none;
  border-color:black;
  border-style:solid;
  border-width: 2px;
}

.Practises td, .Players td{ border: 2px solid black; }

.Matches tbody tr:hover,.Practises tbody tr:hover { background-color: rgb(226, 220, 220); }

td { padding: 0.5em;}

.Participants li {
  width: 25%;
  float: left;
}

.Scores {
  color:gold;
  list-style-type: none;
}

.Assists {
  color:grey;
  list-style-type: none;
}

.Show p {
  text-align: left;
  padding: 0.5em 2em;
}

.Show {
  display:block;
  text-align: left;
}

.Hide { display:none; }

/* Stats content */
#chartContainer {
  height: 65vh;
  width: 90%;
  padding: 0 5%;
}
